.background {
  background-image: url("../asset/workout.jpg");
  height: 850px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.transbox {
  background-color: rgb(255, 255, 255, 0.6);
  border: 1px solid red;
  text-align: center;
  height: 400px;
  font-family: serif;
  width: 200px !important;
  margin-top: 150px;
  margin-left: 70px;
}
.head {
  padding-top: 170px;
  text-align: center;
  color: white;
}

.quote {
  margin: 5%;
  font-weight: medium;
  color: black !important;
  font-size: 30px !important;
  visibility: visible;
}
.image {
  border: 2px solid white !important;
  width: 150px !important;
  height: 150px !important;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 50px;
}
.start {
  position: absolute;
  color: yellow;
  font-weight: bold;
  font-size: 20px;
  border-radius: 4px;
  height: 43px;
  width: 169px;
  bottom: 10px;
  transition: bottom 5s ease;
  visibility: hidden;
}
.transbox:hover .quote {
  visibility: hidden;
}
.transbox:hover .start {
  bottom: 200px;
  display: block;
  opacity: 1;
  visibility: visible;
}

.transbox:hover {
  background-color: rgb(255, 255, 255, 0.4);
  visibility: visible;
}

.transbox:hover .p {
  display: none;
}
